<div class="modal fade" id="schoolLinkModal" aria-labelledby="schoolLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="schoolLinkModalLabel">School Links</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="sidebarSchoolLinks">

                    <!-- General Resources -->
                    <span class="sidebarSubtitle">General Resources</span><br>

                    <a href="https://www.solarweb.com/Home/GuestLogOn?pvSystemId=f27f25bd-06f1-48e2-819f-b227257a9892"
                        class="sidebarSchoolLink" target="_blank">• Beaconsfield Solar Monitor <i
                            class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://www.sfxcareers.com.au/" class="sidebarSchoolLink" target="_blank">• Careers <i
                            class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://shop.sfx.vic.edu.au/mymonitor/" class="sidebarSchoolLink" target="_blank">• CDFPay
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://sfx.vic.edu.au/" class="sidebarSchoolLink" target="_blank">• School Website
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://outlook.office365.com/owa/calendar/UniformShopBookings@sfx.vic.edu.au/bookings/"
                        class="sidebarSchoolLink" target="_blank">• Uniform Shop Bookings
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="http://bea-v-print-01:9191/app" class="sidebarSchoolLink" target="_blank">• WebPrint
                        <i class="bi bi-box-arrow-up-right"></i></a><br>


                    <!-- Student College Links -->
                    <span class="sidebarSubtitle">Student College Links</span><br>
                    <a href="mailto:makeappointment@sfx.vic.edu.au" class="sidebarSchoolLink" target="_blank">•
                        Counsellor Appointment
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://sfxviceduau.sharepoint.com/sites/StudentResourcesSafetyInclusionandWellbeing/SitePages/LearnHome.aspx"
                        class="sidebarSchoolLink" target="_blank">• Safety and Wellbeing
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=hVR7pgXSOk-NoIMf0cdcN4yBuFkrIDNHjUgaFUJ4IKxUQ0hHVDZHVkYxRU5ZOFZER0VMV1hCSk5HQy4u"
                        class="sidebarSchoolLink" target="_blank">• Bullying Alert Form
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://saml-in3.clickview.com.au/Shibboleth.sso/STF1792" class="sidebarSchoolLink"
                        target="_blank">• Clickview
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=19761&KBankID=11"
                        class="sidebarSchoolLink" target="_blank">• College Yearbook
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=14283&KBankID=25&UserID=25"
                        class="sidebarSchoolLink" target="_blank">• Courage & Contribution
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://sfxviceduau.sharepoint.com/sites/DigitalGuides" class="sidebarSchoolLink"
                        target="_blank">• Digital Guides
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://shop.sfx.vic.edu.au/" class="sidebarSchoolLink" target="_blank">• DLP Accessories
                        Portal (SFXC Events & General Shop)
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://helpdesk.sfx.vic.edu.au/" class="sidebarSchoolLink" target="_blank">• IT Helpdesk
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://sfxviceduau.sharepoint.com/sites/PerformingArtsatSFX" class="sidebarSchoolLink"
                        target="_blank">• Performing Arts @ SFX
                        <i class="bi bi-box-arrow-up-right"></i></a><br>

                    <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=hVR7pgXSOk-NoIMf0cdcN7yUeU1Aia9LiLKBhGzD22FUQ1hXOExOSElLQkRZMFAyNzNONEhTWkRCOC4u"
                        class="sidebarSchoolLink" target="_blank">• Positive Learning Partnerships Survey
                        <i class="bi bi-box-arrow-up-right"></i></a><br>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var schoolLinkModalD = new bootstrap.Modal(document.getElementById('schoolLinkModal'), {})
</script>

<!-- Navbar -->
<nav class="navbar navbar-custom navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand" sr>
            <strong id="navbarNameHolder">
                <span id="navbarGreeting">Hi</span>,
                <span id="navbarName">Guest</span>.
            </strong>
            <small id="navbarTime">6/11/2023 10:11AM</small>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
            aria-controls="sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Sidebar -->
<div class="offcanvas offcanvas-custom offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">
            <strong>
                <span id="sidebarGreeting">Good Morning</span>,
                <span id="sidebarName">Guest</span>.
            </strong>
        </h5>
        <button type="button" class="btn-close offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <!-- Quick Links -->
        <div id="sidebarQuickLinks">
            <span class="sidebarTitle">Quick Links</span><br>
            <a href="/" class="sidebarLink"><i class="bi bi-house-fill"></i> Home</a><br>
            <a href="/profile" class="sidebarLink"><i class="bi bi-person-fill"></i> Profile</a><br>
            <a href="/settings" class="sidebarLink"><i class="bi bi-gear-fill"></i> Settings</a><br>
            <a href="/calendar" class="sidebarLink"><i class="bi bi-calendar-fill"></i> Calendar</a><br>
            <a href="/classes" class="sidebarLink"><i class="bi bi-mortarboard-fill"></i> Classes</a><br>
            <button type="button" class="sidebarLink supportText" data-bs-dismiss="offcanvas" data-bs-toggle="modal"
                data-bs-target="#supportModal" aria-label="Close" onclick="openSupport"><i
                    class="bi bi-patch-question-fill"></i> Support</button><br>
            <script>
                function openSupport() {
                    supportModalD.show()
                }

            </script>
            <a href="/logout" class="sidebarLink"><i class="bi bi-box-arrow-right"></i> Logout</a><br>
        </div>

        <br>

        <!-- School Links -->
        <div id="sidebarSchoolLinks">

            <a href="#" class="sidebarLink sidebarTitle" id="supportButtonA">School Links</a><br>
            <script>
                document.getElementById("supportButtonA").addEventListener("click", function () {
                    schoolLinkModalD.show()
                });
            </script>



            <!-- General Resources -->
            <span class="sidebarSubtitle">General Resources</span><br>
            <a href="https://www.sfxcareers.com.au/" class="sidebarSchoolLink" target="_blank">• Careers <i
                    class="bi bi-box-arrow-up-right"></i></a><br>
            <a href="https://shop.sfx.vic.edu.au/mymonitor/" class="sidebarSchoolLink" target="_blank">• CDFPay <i
                    class="bi bi-box-arrow-up-right"></i></a><br>
            <a href="http://bea-v-print-01:9191/app" class="sidebarSchoolLink" target="_blank">• WebPrint <i
                    class="bi bi-box-arrow-up-right"></i></a><br>
            <a href="https://saml-in3.clickview.com.au/Shibboleth.sso/STF1792" class="sidebarSchoolLink"
                target="_blank">• ClickView <i class="bi bi-box-arrow-up-right"></i></a><br>

            <span class="sidebarSubtitle">College Links</span><br>
            <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=19761&KBankID=11"
                class="sidebarSchoolLink" target="_blank">• 2022 Yearbook <i
                    class="bi bi-box-arrow-up-right"></i></a><br>

        </div>

        <br>

        <div id="sidebarSchoolLinks">
            <span class="sidebarTitle">Version</span><br>

            <!-- General Resources -->
            <span class="sidebarSubtitle">{{VERSION}}</span><br>


        </div>
    </div>
</div>


<!-- Support Modal -->
<div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="supportModalLabel">Support</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="myForm">


                    <div class="form-floating mb-3">
                        <select class="form-select" id="supportTypeSelect" name="supportTypeSelect"
                            aria-label="Request Category" required>
                            <option selected value="general">General Support</option>
                            <option value="suggestion">Suggestion</option>
                            <option value="bug">Bug Report</option>
                        </select>
                        <label for="supportTypeSelect">Request Category</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="supportTitle" name="supportTitle" required></textarea>
                        <label for="supportTitle">Request Title</label>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="supportDescription"
                            style="height: 100px" name="supportDescription" required></textarea>
                        <label for="supportDescription">Request Description</label>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitForm" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('submitForm').addEventListener('click', function () {
        const form = document.getElementById('myForm');
        console.log(form.checkValidity())
        if (form.checkValidity()) {
            const formData = new FormData(form);

            fetch('/api/postSupport', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (response.status === 200) {
                        showSmallToast('Support request sent!', 'text-bg-success');
                    } else {
                        showSmallToast('Support request failed. Try again later.', 'text-bg-danger');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            showSmallToast('Please fill out all fields!', 'text-bg-danger');
        }
    });
</script>


<script>
    fetch(`/api/getUserInfo`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
    })
        .then(response => response.json())
        .then(data => {
            const yourNameText = document.getElementById('navbarName');
            const yourNameTextSidebar = document.getElementById('sidebarName');
            yourNameText.textContent = data.d.name
            yourNameTextSidebar.textContent = data.d.name

        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>
<script>
    function updateGreetingAndTime() {
        let date = new Date();
        let hours = date.getHours();

        // Greeting
        let greeting = "Hi";
        if (hours >= 1 && hours < 5) {
            greeting = "Hi";
        } else if (hours >= 5 && hours < 12) {
            greeting = "Good Morning";
        } else if (hours >= 12 && hours < 17) {
            greeting = "Good Afternoon";
        } else if (hours >= 17 && hours < 20) {
            greeting = "Good Evening";
        } else {
            greeting = "Good Night";
        }

        // Time
        const minutes = date.getMinutes();
        const ampm = hours >= 12 ? 'PM' : 'AM';

        hours = hours % 12;
        hours = hours ? hours : 12;

        const strMinutes = minutes < 10 ? '0' + minutes : minutes;

        const timeStr = hours + ':' + strMinutes + ampm;

        // Date
        var dd = String(date.getDate()).padStart(2, '0');
        var mm = String(date.getMonth() + 1).padStart(2, '0'); // January is 0!
        var yyyy = date.getFullYear();


        // Update
        document.getElementById('navbarGreeting').textContent = greeting;
        document.getElementById('sidebarGreeting').textContent = greeting;
        document.getElementById('navbarTime').textContent = `${timeStr} | ${dd}/${mm}/${yyyy}`;
    }
    setInterval(updateGreetingAndTime, 2000); // Every 2 Seconds
    updateGreetingAndTime();
</script>