<script>
    let availableThemes = ['light', 'dark', 'blue'];
    let currentTheme = 0;
    const cachedTheme = localStorage.getItem('theme');
    if (cachedTheme && availableThemes.includes(cachedTheme)) {
        document.documentElement.setAttribute('data-theme', cachedTheme);
    }

    function loadTheme() {
        fetch('/api/getTheme', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.text())
            .then(theme => {
                console.log(theme)
                switch (theme) {
                    case 'dark':
                        setTheme('dark');
                        break;
                    case 'light':
                        setTheme('light');
                        break;
                    case 'blue':
                        setTheme('blue');
                        break;
                    default:
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function setTheme(theme) {
        document.documentElement.setAttribute('data-theme', theme);
        currentTheme = availableThemes.indexOf(theme);
        updateThemeInServer(theme);
    }

    function updateThemeInServer(theme) {
        const username = getCookie("username");

        if (!username) {
            console.log("Username not found in cookies.");
            return;
        }

        const data = { theme: theme };
        localStorage.setItem('theme', theme);
        fetch("/api/setTheme", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    console.log(`Theme set to ${theme}`);
                } else {
                    console.error('Failed to set theme');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.addEventListener('keydown', function (event) {
        if (event.ctrlKey && event.altKey && event.key === 'd') {
            toggleTheme();
        }
    });

    function toggleTheme() {
        currentTheme = (currentTheme + 1) % availableThemes.length;
        const nextTheme = availableThemes[currentTheme];
        setTheme(nextTheme);
        switch (nextTheme) {
            case 'dark':
                break;
            case 'light':
                break;

            case 'blue':
                break;
            default:
        }

    }

    loadTheme()


</script>