<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes | NSimon {{VERSION}}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/colours.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/misc.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet" type="text/css">

    <!-- FavIcon -->
    <link href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" rel="apple-touch-icon"
        sizes="180x180" />
    <link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32"
        type="image/png" />
    <link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16"
        type="image/png" />
    <link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest" />
    <link color="#5bbad5" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" rel="mask-icon" />
    <meta content="#da532c" name="msapplication-TileColor" />
    <meta content="#3a3a3a" name="theme-color" />

    <!-- Session Setting -->
    <script>
        fetch('/api/getSessionSetting', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.text())
            .then(sessionSetting => {
                localStorage.setItem('sessionSetting', sessionSetting);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
</head>

<body>

    <!-- Bootstrap JS & Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    {% include "partials/toasts.html" %}

    <!-- Due Tasks -->
    <div class="modal fade" id="dueModal" tabindex="-1" aria-labelledby="dueModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="dueModalLabel">Due Tasks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="dueModalHolder">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Result Tasks -->
    <div class="modal fade" id="resultsModal" tabindex="-1" aria-labelledby="resultsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="resultsModalLabel">Results Tasks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="resultsModalHolder">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Overdue Tasks -->
    <div class="modal fade" id="overdueModal" tabindex="-1" aria-labelledby="overdueModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="overdueModalLabel">Overdue Tasks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="overdueModalHolder">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/navbar.html" %}

    <!-- Content -->
    <div class="container-fluid main-content">
        <div class="row">

            <!-- Left Column (List of classes) -->
            <div class="col-12 col-sm-2 col-custom order-2 order-sm-first">

                <!-- Class List -->
                <div class="card card-custom-large">

                    <!-- Title -->
                    <div class="card-header">
                        <h5 class="mb-0">
                            <span class="cardTitle">Classes</span>
                            <span class="cardSubtitle"></span>
                        </h5>
                    </div>

                    <!-- Contents -->
                    <div class="card-body" id='classSideHolder'>

                    </div>

                </div>

            </div>

            <div class="col-12 col-sm-10 col-custom order-2">

                <!-- Class List -->
                <div class="card card-custom-large">



                    <!-- Contents -->
                    <div class="card-body">

                        <div class="box rounded">
                            <strong>Class Info</strong><br>
                            <span>Class: <span id="classDescription"></span> (<span id="classCode"></span>)</span><br>
                            <span>Teacher(s): <span id="classTeacher"></span></span>
                        </div>

                        <div class="box rounded">
                            <strong>Class Notes</strong><br>
                            <div class="mb-3">
                                <textarea class="form-control noteInput" id="classNotesHolder" rows="4"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary" id="classNotesSave">Save Note</button>
                            <button type="button" class="btn btn-danger" id="classNotesDelete"><i
                                    class="bi bi-trash-fill"></i></button>


                        </div>

                        <div class="box rounded box-button" id="dashboardDueButton">
                            <strong>
                                <span class="color-dot bg-primary me-2"></span>
                                <span id="classResourcesDueCount">Loading</span>
                                Due
                            </strong>
                        </div>

                        <script>
                            var dueTasksModal = new bootstrap.Modal(document.getElementById('dueModal'), {})
                            document.getElementById("dashboardDueButton").addEventListener("click", function () {
                                dueTasksModal.show()
                            });
                        </script>

                        <div class="box rounded box-button" id="dashboardOverdueButton">
                            <strong>
                                <span class="color-dot bg-danger me-2"></span>
                                <span id="classResourcesOverdueCount">Loading</span>
                                Overdue
                            </strong>
                        </div>

                        <script>
                            var overdueTasksModal = new bootstrap.Modal(document.getElementById('overdueModal'), {})
                            document.getElementById("dashboardOverdueButton").addEventListener("click", function () {
                                overdueTasksModal.show()
                            });
                        </script>

                        <div class="box rounded box-button" id="dashboardResultsButton">
                            <strong>
                                <span class="color-dot bg-success me-2"></span>
                                <span id="classResourcesResultsCount">Loading</span>
                                Results
                            </strong>
                        </div>

                        <script>
                            var resultTasksModal = new bootstrap.Modal(document.getElementById('resultsModal'), {})
                            document.getElementById("dashboardResultsButton").addEventListener("click", function () {
                                resultTasksModal.show()
                            });
                        </script>

                    </div>

                </div>

            </div>

        </div>




    </div>
    </div>








    <!-- Bootstrap JS & Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>








    <!-- Script Initialisations -->

    <!-- Cookie Handler -->
    <script>
        function getCookie(cookieName) {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(cookieName + '=')) {
                    return cookie.substring(cookieName.length + 1);
                }
            }
            return null;
        }

        const authCookie = getCookie('adAuthCookie');
        const campus = getCookie('campus');
        const outdatedLogin = getCookie('loginVer');

        if (authCookie == null) {
            window.location.href = '/logout';
        }
        if (outdatedLogin != '1.1') {
            window.location.href = '/logout';
        }

        if (campus == null) {
            window.location.href = '/logout';
        }

    </script>

    <!-- Variables -->
    <script>
        const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        let currentDate = new Date();
        let currentISOString = currentDate.toISOString();
        let unixTimestamp = currentDate.getTime();
        let unixTimestampInSeconds = Math.floor(unixTimestamp / 1000);
        var totalDailyMessages = 0
        var totalNewDailyMessages = 0
    </script>

    <!-- Functions -->




    <!-- Weather -->




    <!-- Get Classes -->
    <script>

        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

        fetch(`/api/getClasses`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {

                const classContainer = document.getElementById('classSideHolder');
                for (const classS of data.d.Types[0].TimetabledClasses) {



                    const divElement = document.createElement('div');
                    divElement.className = 'box rounded box-button';
                    const strongElement = document.createElement('strong');
                    strongElement.textContent = `${classS['ClassCode']}`;
                    divElement.appendChild(strongElement);
                    divElement.addEventListener('click', function () {
                        window.location.href = `/classes/${classS['ClassID']}`;
                    });
                    classContainer.appendChild(divElement);


                }

                for (const classS of data.d.Types[0].TimetabledClasses) {
                    if (classS['ClassID'] == "{{classID}}") {
                        console.log(classS)
                        document.getElementById('classDescription').textContent = classS['SubjectDescription'];
                        document.getElementById('classCode').textContent = classS['ClassCode'];
                        document.getElementById('classTeacher').textContent = classS['Teachers'];
                    }
                }

                let dueTaskNumber = 0
                const dueTasks = document.getElementById('classResourcesDueCount');
                const dueTaskHolder = document.getElementById('dueModalHolder');
                data.d.DueTasksStudent.forEach((task) => {
                    if (task['SubjectClassID'] == "{{classID}}") {
                        console.log(task)
                        dueTaskNumber += 1
                        const divElement = document.createElement('div');
                        divElement.className = 'box rounded box-button';
                        const strongElement = document.createElement('strong');
                        const spanElement = document.createElement('span');
                        strongElement.textContent = `${task['SubjectCode']}: `;
                        spanElement.textContent = `${task['TaskTitle']}`;
                        strongElement.appendChild(spanElement);
                        divElement.appendChild(strongElement);
                        divElement.addEventListener('click', function () {
                            var urlToOpen = `https://nsimon.kavenci.com/classes/{{classID}}/task/${task['TaskID']}`;
                            openInNewTab(urlToOpen);
                        });
                        dueTaskHolder.appendChild(divElement);

                    }
                });
                dueTasks.textContent = dueTaskNumber

                let overdueTaskNumber = 0
                const overdueTasks = document.getElementById('classResourcesOverdueCount');
                const overdueTaskHolder = document.getElementById('overdueModalHolder');
                data.d.OverDueTasksStudent.forEach((task) => {
                    if (task['SubjectClassID'] == "{{classID}}") {
                        overdueTaskNumber += 1
                        const divElement = document.createElement('div');
                        divElement.className = 'box rounded box-button';
                        const strongElement = document.createElement('strong');
                        const spanElement = document.createElement('span');
                        strongElement.textContent = `${task['SubjectCode']}: `;
                        spanElement.textContent = `${task['TaskTitle']}`;
                        strongElement.appendChild(spanElement);
                        divElement.appendChild(strongElement);
                        divElement.addEventListener('click', function () {
                            var urlToOpen = `https://nsimon.kavenci.com/classes/{{classID}}/task/${task['TaskID']}`;
                            openInNewTab(urlToOpen);
                        });
                        overdueTaskHolder.appendChild(divElement);
                    }
                });
                overdueTasks.textContent = overdueTaskNumber

                let resultTaskNumber = 0
                const resultTasks = document.getElementById('classResourcesResultsCount');
                const resultTasksHolder = document.getElementById('resultsModalHolder');
                data.d.ResultTasksStudent.forEach((classs) => {
                    if (classs['ID'] == "{{classID}}") {
                        classs['Tasks'].forEach((task) => {
                            resultTaskNumber += 1
                            const divElement = document.createElement('div');
                            divElement.className = 'box rounded box-button';
                            const strongElement = document.createElement('strong');
                            const spanElement = document.createElement('span');
                            strongElement.textContent = `${classs['SubjectCode']}: `;
                            spanElement.textContent = `${task['Title']}`;
                            strongElement.appendChild(spanElement);
                            divElement.appendChild(strongElement);
                            divElement.addEventListener('click', function () {
                                var urlToOpen = `https://nsimon.kavenci.com/classes/{{classID}}/task/${task['TaskID']}`;
                                openInNewTab(urlToOpen);
                            });
                            resultTasksHolder.appendChild(divElement);
                        });
                    }
                });
                resultTasks.textContent = resultTaskNumber



            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>

    <!-- Note Handler -->
    <script>
        saveNoteButton = document.getElementById("classNotesSave")
        deleteNoteButton = document.getElementById("classNotesDelete")
        inputNoteHolder = document.getElementById("classNotesHolder")

        saveNoteButton.addEventListener("click", function () {
            saveNoteButton.disabled = true
            deleteNoteButton.disabled = true
            inputNoteHolder.disabled = true

            newNote = inputNoteHolder.value

            var jsonData = {
                noteType: 'classes',
                typeID: '{{classID}}',
                note: newNote
            };


            fetch(`/api/setNotes`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData),
            })
                .then(response => {
                    if (!response.ok) {
                        showSmallToast("There was an issue.", "text-bg-danger");
                    } else {
                        showSmallToast("Class note updated.", "text-bg-success");
                        setTimeout(function () {
                            saveNoteButton.disabled = false
                            deleteNoteButton.disabled = false
                            inputNoteHolder.disabled = false
                        }, 2000);
                    }
                })
                .catch(error => {
                    console.log(error)
                    showSmallToast("There was an issue.", "text-bg-danger");

                });
        });


        deleteNoteButton.addEventListener("click", function () {
            saveNoteButton.disabled = true
            deleteNoteButton.disabled = true
            inputNoteHolder.disabled = true

            inputNoteHolder.value = ''

            var jsonData = {
                noteType: 'classes',
                typeID: '{{classID}}',
                note: ''
            };


            fetch(`/api/setNotes`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData),
            })
                .then(response => {
                    if (!response.ok) {
                        showSmallToast("There was an issue.", "text-bg-danger");
                    } else {
                        showSmallToast("Class note updated.", "text-bg-success");
                        setTimeout(function () {
                            saveNoteButton.disabled = false
                            deleteNoteButton.disabled = false
                            inputNoteHolder.disabled = false
                        }, 2000);
                    }
                })
                .catch(error => {
                    console.log(error)
                    showSmallToast("There was an issue.", "text-bg-danger");

                });
        });
    </script>

    <!-- Get Notes -->
    <script>

        function checkAndGetJsonValue(jsonObj, path) {
            try {
                for (const key of path) {
                    jsonObj = jsonObj[key];
                }
                return jsonObj;
            } catch (error) {
                return null;
            }
        }

        fetch(`/api/getNotes`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {


                const pathToCheck = ['classes', '{{classID}}'];

                const result = checkAndGetJsonValue(data, pathToCheck);

                if (result == null || result == 'undefined') {
                    inputNoteHolder.value = ''
                } else {
                    inputNoteHolder.value = result
                }




            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>

    {% include "partials/themes.html" %}


</body>

</html>