<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy | NSimon {{VERSION}}</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />


  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='css/privacy.css') }}" rel="stylesheet" type="text/css">


  <!-- FavIcon -->
  <link href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" rel="apple-touch-icon"
    sizes="180x180" />
  <link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32"
    type="image/png" />
  <link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16"
    type="image/png" />
  <link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest" />
  <link color="#5bbad5" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" rel="mask-icon" />
  <meta content="#da532c" name="msapplication-TileColor" />
  <meta content="#3a3a3a" name="theme-color" />


</head>

<body>




  <div class="page">
    <div id="privacy-policy">
      <h1>Privacy Policy for NSimon</h1>
      <ol>
        <li>
          <b>Information We Collect</b>
          <ol>
            <li>
              <p>When you log in, your username and an encrypted password are stored. The cookie grabbed from Simon API is also stored and encrypted. Additionally, other data such as settings and notes are stored.</p>
            </li>
          </ol>
        </li>
        <li>
          <b>How We Use Your Information</b>
          <p>We use the collected information for authentication, personalization, service improvement, and communication purposes.</p>
        </li>
        <li>
          <b>Information Sharing</b>
          <p>We do not sell, trade, or otherwise transfer your information to outside parties. Trusted third parties may have access to your information to assist in operating our website.</p>
        </li>
        <li>
          <b>Data Security</b>
          <p>We implement security measures to protect the confidentiality and integrity of your information, but we cannot guarantee absolute security.</p>
        </li>
        <li>
          <b>Your Choices</b>
          <p>You can review, update, or delete your account information by contacting us at <a href="https://discord.gg/4nvbsfWfE9">https://discord.gg/4nvbsfWfE9</a>.</p>
        </li>
        <li>
          <b>Changes to this Privacy Policy</b>
          <p>We reserve the right to update or modify this Privacy Policy at any time. The date of the latest revision will be indicated at the top of this page.</p>
        </li>
        <li>
          <b>Contact Us</b>
          <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="https://discord.gg/4nvbsfWfE9">https://discord.gg/4nvbsfWfE9</a>.</p>
        </li>
      </ol>
    </div><!-- end #privacy-policy -->
  </div>
  
  

</body>




</html>