.color-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

#prevDay {
  color: var(--font-colour)
}

#prevDay:hover {
  color: var(--card-hover)
}

#nextDay {
  color: var(--font-colour)
}

#nextDay:hover {
  color: var(--card-hover)
}