.navbar {
  background-color: #005f9d;
}

.small-navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.small-navbar .nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
}

.small-navbar .navbar-toggler {
  padding: 0.25rem 0.5rem;
}

.offcanvas {
  background: linear-gradient(180deg, #02609e 0%, #2980b9 100%);
}

.profile-img {
  width: 80px;
  height: 80px;
}
