/* COLOURING SYSTEM 
----------------------
*/

:root {
    --primary-color: #1976d2;
    --secondary-color: #424242;
    --banner-color: rgb(0,95,157);
    --banner-text: white;
    --font-color: black;
    --bg-color: #fff;
    --sidebar-bg: #fff;             /* sidebar background color */
    --sidebar-text: #000;         /* sidebar text color */
    --heading-color: #292922;
    --buttons: #212529;
    --button-text: white;

    --big-box-shadow: #c9c9c9;
    --big-box-color: #f5f5f5;

    --small-box-shadow: #c9c9c9;
    --small-box-color: #ffffff;

    --nav-shadow: rgba(0,0,0);
    --sidebar-shadow: rgb(124, 124, 124);

    --subtitle-sub-color: #2c2c2c;
}

[data-theme="dark"] {
    --primary-color: #1976d2;
    --secondary-color: #ffffff;
    --banner-color: rgb(0,95,157);
    --font-color: #ffffff;
    --bg-color: #1c1c1c;
    --sidebar-bg: #1c1c1c;             /* sidebar background color */
    --sidebar-text: #fff;         /* sidebar text color */
    --heading-color: #818cab;
    --buttons: white;
    --button-text: black;

    --big-box-shadow: #1a1a1a;
    --big-box-color: #212121;

    --small-box-shadow: #1a1a1a;
    --small-box-color: #292929;

    --nav-shadow: rgba(0,0,0);
    --sidebar-shadow: rgba(0,0,0);


    --subtitle-sub-color: #b9b9b9;

}

[data-theme="blue"] {
    --primary-color: #1565c0;         /* Primary background color */
    --secondary-color: #ffffff;        /* Secondary accent color */
    --banner-color: #005f9d;          /* Banner background color */
    --font-color: #000000;            /* General text color */
    --bg-color: #bbdefb;              /* Page background color */
    --sidebar-bg: #aad5f8;             /* sidebar background color */
    --sidebar-text: #000f;         /* sidebar text color */
    --heading-color: #000000;         /* Heading text color */
    --buttons: #1565c0;               /* Button background color */
    --button-text: #ffffff;           /* Button text color */
    --big-box-shadow: #1a1a1a;        /* Big box shadow color */
    --big-box-color: #eeeeee;         /* Big box background color */
    --small-box-shadow: #1565c0;      /* Small box shadow color */
    --small-box-color: #d7e9f7;  
    --nav-shadow: rgba(0, 0, 0, 0.2); /* Navigation shadow color */
    --sidebar-shadow: rgba(0, 0, 0, 0.2); /* Sidebar shadow color */
    --subtitle-sub-color: #888888;    /* Subtitle and secondary text color */
}


[data-theme="tiktok"] {
    --primary-color: #000000;         /* Primary background color */
    --secondary-color: #74F0ED;       /* Secondary accent color */
    --banner-color: rgb(0,95,157);             /* Banner background color */
    --banner-text: #fff;              /* Banner text color */
    --font-color: #000;               /* General text color */
    --bg-color: #000000;                /* main background color */
    --sidebar-bg: #000;             /* sidebar background color */
    --sidebar-text: #fff;         /* sidebar text color */
    --heading-color: #000;            /* Heading text color */
    --buttons: #EA445A;               /* Button background color */
    --button-text: #fff;              /* Button text color */
    --big-box-shadow: #74F0ED;        /* Big box shadow color */
    --big-box-color: #f8f5f5;            /* Big box background color */
    --small-box-shadow: #EA445A;      /* Small box shadow color */
    --small-box-color: #fff;          /* Small box background color */
    --nav-shadow: rgba(0, 0, 0, 0.2); /* Navigation shadow color */
    --sidebar-shadow: rgba(0, 0, 0, 0.2); /* Sidebar shadow color */
    --subtitle-sub-color: #888888;    /* Subtitle and secondary text color */
}




body {
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: var(--primary-color);
}

a {
    color: var(--font-color);
}

span {
    color: var(--font-color);
}

/* FORMATTING SYSTEM 
---------------------
*/

/* Dashboard */

.sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
    padding: 20px;
    box-shadow: -3px 0 5px 0 var(--sidebar-shadow);
}

.sidebar a, .sidebar span {
    color: var(--sidebar-text);
}

.navbar {
    background-color: var(--banner-color);
    color: var(--banner-text);
    font-size: 1.25rem;
    padding-bottom: 0;
    font-weight: bold;
    box-shadow: 0px 1px 20px 0px var(--nav-shadow);
}

.navbar span {
    color: var(--banner-text);
}

.blue-text {
    color: var(--primary-color); /* Set the text color to blue */
  }
  
.break-line {
    background-color: var(--primary-color); /* Set the line color to blue */
    vertical-align: middle;
    height: 1em;
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    /* This will align it with the top padding of the sidebar */
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--font-color);
}

.links-section {
    margin-top: 20px;
    /* Adjust this value if needed to align with closeBtn */
}

.sidebarLink {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebarLink:hover {
    color: rgb(157, 157, 157);
}

.sidebarTitle {
    text-decoration: underline;
    font-weight: 700;
}

.sidebarSubtitle {
    text-decoration: none;
    font-weight: 600;
}

.sidebarSchoolLink {
    text-decoration: none;
}

.sidebarSchoolLink:hover {
    color: rgb(157, 157, 157);
}

.pageSubtitleSub {
    color: var(--subtitle-sub-color);
}

.big-box {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px var(--big-box-shadow);
    background-color: var(--big-box-color);
}

.small-box {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--small-box-color);
    box-shadow: 0px 0px 5px var(--sidebar-shadow);
    transition: height 0.3s ease-in-out;
}

.arrow {
    color: var(--heading-color);

}



#dueTasksExpand, #overdueTasksExpand, #resultTasksExpand {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#dueTasksExpand.visible, #overdueTasksExpand.visible, #resultTasksExpand.visible {
    opacity: 1;
}

.class-name {
    font-weight: bold;
}

.specialbox {
    display: flex;
}

h4.settingsPageSubtitle {
    color: var(--sidebar-text);
}

.time {
    font-size: 80%;
    float: right;
    font-weight: bold;
    display: block;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.border-timetable {
    border-color: #f0ad4e;
    border-width: 3px;
    border-style: inset;
}

.teacher-name {
    font-size: 80%;
}

.color-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.messages-container {
    overflow-y: hidden;
    overflow-x: hidden;
}



@media (min-width: 768px) {
    .messages-container {
        height: 480px;
    }
}

@media (max-width: 767px) {
    .messages-container {
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 0.1px;
  }


/* Settings */
.settingsSelect {
    padding: 8px 12px;
    box-shadow: 0.5px 0.5px 5px var(--nav-shadow);
    border-radius: 4px;
    border: none;
    text-align: center;
}

.toggleDarkModeButton {
    padding: 8px 12px;
    box-shadow: 0.5px 0.5px 5px var(--nav-shadow);
    border-radius: 4px;
    border: none;
    text-align: center;
}

.toggleDarkModeButton:hover {
    padding: 8px 12px;
    box-shadow: 0.5px 0.5px 5px var(--nav-shadow);
    border-radius: 4px;
    border: none;
    text-align: center;
}


/* Login Screen */
.creditTag {
    text-align: center;
    bottom: 0px;
    position: absolute;
    margin-left: auto;
    right: 0px;
    left: 0px;
    margin-right: auto;
}
.container-fluid {
    height: 100%;
}
.row.h-100 {
    height: 100%;
}
.col-3.h-100,
.col-6.h-100 {
    display: flex;
    flex-direction: column;
}
h3 {
    margin-bottom: 10px;
}
.modal-content {
    background-color: var(--bg-color);
    color: var(--font-color)
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-signin .textInput {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .passwordInput {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button.dmt {
    position:fixed;
    left:0;
    bottom:0;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px; /* Adjust the right position as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle i {
    font-size: 20px; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
}

