/* COLOURING SYSTEM 
----------------------
*/

:root {
    --primary-color: #1976d2;
    --secondary-color: #424242;
    --banner-color: rgb(0,95,157);
    --banner-text: white;
    --font-color: black;
    --bg-color: #fff;
    --heading-color: #292922;
    --buttons: #212529;
    --button-text: white;
    --shadow: #c9c9c9;
    --nav-shadow: rgba(0,0,0);
}

[data-theme="dark"] {
    --primary-color: #1976d2;
    --secondary-color: #ffffff;
    --font-color: #ffffff;
    --bg-color: #1c1c1c;
    --heading-color: #818cab;
    --buttons: white;
    --button-text: black;
    --shadow: #2b2b2b;
    --nav-shadow: rgba(0,0,0);
}

html {
    transition: all 0.4s
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1 {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

span {
    color: var(--font-color);
}

/* FORMATTING SYSTEM 
---------------------
*/

/* Dashboard */

.sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
    padding: 20px;
    box-shadow: -3px 0 5px 0 var(--shadow);
}

.navbar {
    background-color: var(--banner-color);
    color: var(--banner-text);
    font-size: 1.25rem;
    padding-bottom: 0;
    font-weight: bold;
    box-shadow: 0px 1px 20px 0px var(--nav-shadow);
}

.navbar span {
    color: white;
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    /* This will align it with the top padding of the sidebar */
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.links-section {
    margin-top: 20px;
    /* Adjust this value if needed to align with closeBtn */
}

.sidebarLink {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebarLink:hover {
    color: rgb(157, 157, 157);
}

.sidebarTitle {
    text-decoration: underline;
    font-weight: 700;
}

.sidebarSubtitle {
    text-decoration: none;
    font-weight: 600;
}

.sidebarSchoolLink {
    text-decoration: none;
}

.sidebarSchoolLink:hover {
    color: rgb(157, 157, 157);
}

.class {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 20px 0 var(--shadow);
}

.class-name {
    font-weight: bold;
}

.time {
    font-size: 80%;
    float: right;
    font-weight: bold;
}

.teacher-name {
    font-size: 80%;
}

.color-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.messages-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 20px 0 var(--shadow);
}

.messages-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.messages-container::-webkit-scrollbar {
    width: 10px;
}

@media (min-width: 768px) {
    .messages-container {
        height: 525px;
    }
}

@media (max-width: 767px) {
    .messages-container {
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}

/* Settings */
.settingsSelect {
    padding: 8px 12px;
    box-shadow: 2px 2px 20px var(--shadow);
    border-radius: 4px;
    text-align: center;
}

.submitButton {
    box-shadow: 3px 3px 10px var(--shadow);
    border: none;
    background-color: var(--buttons);
    color: var(--button-text);
}

.submitButton:hover {
    box-shadow: 3px 3px 10px var(--shadow);
    border: none;
}

/* Login Screen */
.creditTag {
    text-align: center;
    bottom: 0px;
    position: absolute;
    margin-left: auto;
    right: 0px;
    left: 0px;
    margin-right: auto;
}
.container-fluid {
    height: 100%;
}
.row.h-100 {
    height: 100%;
}
.col-3.h-100,
.col-6.h-100 {
    display: flex;
    flex-direction: column;
}
h3 {
    margin-bottom: 10px;
}
.modal-content {
    background-color: var(--bg-color);
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-signin .textInput {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .passwordInput {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button.dmt {
    position:fixed;
    left:0;
    bottom:0;
}

