.classBox {
  position: relative;
  display: block;
}

.sessionName {
  font-size: 70%;
}

.cardTime {
  font-weight: bold;
  font-size: 70%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.descriptionName {
  flex-grow: 1;
  white-space: nowrap; /* Prevent the class name from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for long class names */
  font-size: 90%;
}

.cardTeacher {
  font-weight: bold;
  font-size: 80%;
}

.breakLine {
  background-color: var(--primary-colour);
  vertical-align: middle;
  height: 1em;
}

.breakText {
  font-weight: 600;
  font-size: 75%;
}

.border-timetable {
  border-color: #f0ad4e !important;
  border-width: 3px !important;
  border-style: solid;
}

#shareTimetableButton {
  color: var(--font-colour)
}

#downloadTimetableButton {
  color: var(--font-colour)
}


