
:root {
    /* LIGHT MODE */
    --light-background: #d4d4d4;

    /* NavBar */
    --light-nav-bg: #ffffff;
    --light-nav-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    --light-greeting-text: #636363;
    --light-greetingTime-text: #878787;
    --light-hamburger-icon: #5c5c5c;
    /* SideBar */
    --light-sidebar-bg: #515151;
    --light-sidebar-closeBtn: #ffffff;
    /* Timetable */
    --light-class-bg: #ececec;
    --light-class-shadow:  3px 3px 10px rgba(0, 0, 0, 0.2);
    --light-class-text: #414141;
    --light-teacher-text: #474747;
    --light-time-text: #474747;
    /* Daily Messages */
    --light-messages-bg: #ececec;
    --light-messages-shadow:  3px 3px 10px rgba(0, 0, 0, 0.2);
    --light-messages-text: rgb(46, 46, 46);
    --light-scrollbar-track: #828282;
    --light-scrollbar-thumb: #5d5d5d;
    --light-scrollbar-thumb-hover: #717171;
    /* Settings */
    --light-select-bg: #b6b6b6;
    --light-select-text: rgb(61, 61, 61);
    --light-select-shadow: 3px 3px 10px rgba(48, 48, 48, 0.2);
    --light-button-background: #ececec;
    --light-button-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    --light-button-background-hover: #c3c3c3;
    --light-button-shadow-hover: 3px 3px 10px rgba(48, 48, 48, 0.2);
    /* Other */
    --light-subtitle-text: rgb(51, 51, 51);
    --light-subtitle-sub: rgb(88, 88, 88);




    /* DARK MODE */
    --dark-background: #1c1c1c;

    /* NavBar */
    --dark-nav-bg: #212121;
    --dark-nav-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    --dark-greeting-text: #ffffff;
    --dark-greetingTime-text: #afafaf;
    --dark-hamburger-icon: #aeaeae;
    /* SideBar */
    --dark-sidebar-bg: #101010;
    --dark-sidebar-closeBtn: #ffffff;
    /* Timetable */
    --dark-class-bg: #212121;
    --dark-class-shadow:  3px 3px 10px rgba(0, 0, 0, 0.2);
    --dark-class-text: #e3e3e3;
    --dark-teacher-text: #afafaf;
    --dark-time-text: #afafaf;
    /* Daily Messages */
    --dark-messages-bg: #212121;
    --dark-messages-shadow:  3px 3px 10px rgba(0, 0, 0, 0.2);
    --dark-messages-text: white;
    --dark-scrollbar-track: #2d2d2d;
    --dark-scrollbar-thumb: #555;
    --dark-scrollbar-thumb-hover: #444;
    /* Settings */
    --dark-select-bg: #222222;
    --dark-select-text: white;
    --dark-select-shadow: 3px 3px 10px rgba(48, 48, 48, 0.2);
    --dark-button-text: #ffffff;
    --dark-button-background: #212121;
    --dark-button-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    --dark-button-background-hover: #2e2e2e;
    --dark-button-shadow-hover: 3px 3px 10px rgba(48, 48, 48, 0.2);
    /* Other */
    --dark-subtitle-text: azure;
    --dark-subtitle-sub: #afafaf;
}

[data-theme="light"] {
    background-color: var(--light-background);
}

[data-theme="dark"] {
    background-color: var(--dark-background);
}






/* BODY */
body {
    height: 100vh;
    background-color: var(--dark-background);
    font-family: 'Montserrat', sans-serif;
}
[data-theme="dark"] body {
    background-color: var(--dark-background);
}
[data-theme="light"] body {
    background-color: var(--light-background);
}






/* NAV BAR */
nav {
    background-color: var(--dark-nav-bg);
    box-shadow: var(--dark-nav-shadow);
    font-family: 'Montserrat', sans-serif;
}
[data-theme="light"] nav {
    background-color: var(--light-nav-bg);
    box-shadow: var(--light-nav-shadow);
}
[data-theme="dark"] nav {
    background-color: var(--dark-nav-bg);
    box-shadow: var(--dark-nav-shadow);
}
[data-theme="light"] .greeting {
    color: var(--light-greeting-text);
}
[data-theme="dark"] .greeting {
    color: var(--dark-greeting-text);
}
[data-theme="light"] .greetingTime {
    color: var(--light-greetingTime-text);
}
[data-theme="dark"] .greetingTime {
    color: var(--dark-greetingTime-text);
}
[data-theme="light"] .hamburgerMenu {
    color: var(--light-hamburger-icon);
}
[data-theme="dark"] .hamburgerMenu {
    color: var(--dark-hamburger-icon);
}






/* SIDE BAR */
.sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--dark-sidebar-bg);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
    padding: 20px;
}
[data-theme="light"] .sidebar {
    background-color: var(--light-sidebar-bg);
}
[data-theme="dark"] .sidebar {
    background-color: var(--dark-sidebar-bg);
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;  /* This will align it with the top padding of the sidebar */
    font-size: 30px;
    background: none;
    border: none;
    color: var(--dark-sidebar-closeBtn);
    cursor: pointer;
}
[data-theme="dark"] .closeBtn {
    color: var(--dark-sidebar-closeBtn);
}
[data-theme="light"] .closeBtn {
    color: var(--light-sidebar-closeBtn);
}
.links-section {
    margin-top: 20px;  /* Adjust this value if needed to align with closeBtn */
}
.sidebarLink {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.sidebarLink:hover {
    color: rgb(157, 157, 157);
}
.sidebarTitle {
    color: white;
    text-decoration: underline;
    font-weight: 700;
}
.sidebarSubtitle {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.sidebarSchoolLink {
    color: white;
    text-decoration: none;
}
.sidebarSchoolLink:hover {
    color: rgb(157, 157, 157);
}






/* Timetable */
.class {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--dark-class-bg);
    box-shadow: var(--dark-class-shadow);
}
[data-theme="dark"] .class {
    background-color: var(--dark-class-bg);
    box-shadow: var(--dark-class-shadow);
}
[data-theme="light"] .class {
    background-color: var(--light-class-bg);
    box-shadow: var(--light-class-shadow);
}
.class-name {
    font-weight: bold;
    color: var(--dark-class-text);
}
[data-theme="dark"] .class-name {
    color: var(--dark-class-text);
}
[data-theme="light"] .class-name {
    color: var(--light-class-text);
}
.time {
    font-size: 80%;
    float: right;
    font-weight: bold;
    color: var(--dark-time-text);
}
[data-theme="dark"] .time {
    color: var(--dark-time-text);
}
[data-theme="light"] .time {
    color: var(--light-time-text);
}
.teacher-name {
    font-size: 80%;
    color: var(--dark-teacher-text);
}
[data-theme="dark"] .teacher-name {
    color: var(--dark-teacher-text);
}
[data-theme="light"] .teacher-name {
    color: var(--light-teacher-text);
}
.color-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
}






/* Daily Messages */
.messages-container {
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--dark-messages-bg);
    box-shadow: var(--dark-messages-shadow);
    color: var(--dark-messages-text);
}
[data-theme="dark"] .messages-container {
    background-color: var(--dark-messages-bg);
    box-shadow: var(--dark-messages-shadow);
    color: var(--dark-messages-text);
}
[data-theme="light"] .messages-container {
    background-color: var(--light-messages-bg);
    box-shadow: var(--light-messages-shadow);
    color: var(--light-messages-text);
}
.messages-container::-webkit-scrollbar-track {
    background: var(--dark-scrollbar-track);
}
[data-theme="dark"] .messages-container::-webkit-scrollbar-track {
    background: var(--dark-scrollbar-track);
}
[data-theme="light"] .messages-container::-webkit-scrollbar-track {
    background: var(--light-scrollbar-track);
}
.messages-container::-webkit-scrollbar-thumb {
    background: var(--dark-scrollbar-thumb);
    border-radius: 5px;
}
[data-theme="dark"] .messages-container::-webkit-scrollbar-thumb {
    background: var(--dark-scrollbar-thumb);
}
[data-theme="light"] .messages-container::-webkit-scrollbar-thumb {
    background: var(--light-scrollbar-thumb);
}
.messages-container::-webkit-scrollbar-thumb:hover {
    background: var(--dark-scrollbar-thumb-hover);
}
[data-theme="dark"] .messages-container::-webkit-scrollbar-thumb:hover {
    background: var(--dark-scrollbar-thumb-hover);
}
[data-theme="light"] .messages-container::-webkit-scrollbar-thumb:hover {
    background: var(--light-scrollbar-thumb-hover);
}
.messages-container::-webkit-scrollbar {
    width: 10px;
}
@media (min-width: 768px) {
    .messages-container {
        height: 525px;
    }
}
@media (max-width: 767px) {
    .messages-container {
        height: auto;
    }
}






/* Settings */
.settingsSelect {
    padding: 8px 12px;
    box-shadow: var(--dark-select-shadow);
    background-color: var(--dark-select-bg);
    border-radius: 4px;
    color: var(--dark-select-text);
    text-align: center;
}

[data-theme="dark"] .settingsSelect {
    box-shadow: var(--dark-select-shadow);
    background-color: var(--dark-select-bg);
    color: var(--dark-select-text);
}
[data-theme="light"] .settingsSelect {
    box-shadow: var(--light-select-shadow);
    background-color: var(--light-select-bg);
    color: var(--light-select-text);
}

.submitButton {
    color: var(--dark-button-text);
    background-color: var(--dark-button-background);
    box-shadow: var(--dark-button-shadow);
    border: none;
}
[data-theme="dark"] .submitButton {
    color: var(--dark-button-text);
    background-color: var(--dark-button-background);
    box-shadow: var(--dark-button-shadow);
}
[data-theme="light"] .submitButton {
    color: var(--light-button-text);
    background-color: var(--light-button-background);
    box-shadow: var(--light-button-shadow);
}

.submitButton:hover {
    background-color: var(--dark-button-background-hover);
    box-shadow: var(--dark-button-shadow-hover);
    border: none;
}
[data-theme="dark"] .submitButton:hover {
    color: var(--dark-button-text);
    background-color: var(--dark-button-background-hover);
    box-shadow: var(--dark-button-shadow-hover);
}
[data-theme="light"] .submitButton:hover {
    color: var(--light-button-text);
    background-color: var(--light-button-background-hover);
    box-shadow: var(--light-button-shadow-hover);
}







/* Other */
h4 {
    color: var(--dark-subtitle-text);
}
[data-theme="dark"] h4 {
    color: var(--dark-subtitle-text);
}
[data-theme="light"] h4 {
    color: var(--light-subtitle-text);
}
.pageSubtitleSub {
    color: var(--dark-subtitle-sub);
}
[data-theme="dark"] .pageSubtitleSub {
    color: var(--dark-subtitle-sub);
}
[data-theme="light"] .pageSubtitleSub {
    color: var(--light-subtitle-sub);
}

h5 {
    color: var(--dark-subtitle-text);
}
[data-theme="dark"] h5 {
    color: var(--dark-subtitle-text);
}
[data-theme="light"] h5 {
    color: var(--light-subtitle-text);
}

h6 {
    color: var(--dark-subtitle-text);
}
[data-theme="dark"] h6 {
    color: var(--dark-subtitle-text);
}
[data-theme="light"] h6 {
    color: var(--light-subtitle-text);
}






/* Non Light/Dark Mode */
.container-fluid {
    height: 100%;
}

.row.h-100 {
    height: 100%;
}

.col-3.h-100, .col-6.h-100 {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 10px;
}

input, textarea {
    margin-bottom: 20px;
    padding: 8px 12px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    text-align: center;
}

input[type=checkbox] {
    margin-bottom: 20px;
    padding: 0px 0px;
    width: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: border-color 0.3s ease;
    text-align: center;
}



.modal-content {
    background-color: #1d1d1d;
}








