<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>NSimon | Student Classes</title>
    <!-- Bootstrap & CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet" />
    <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- FavIcon -->
    <link href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" rel="apple-touch-icon"
        sizes="180x180" />
    <link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32"
        type="image/png" />
    <link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16"
        type="image/png" />
    <link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest" />
    <link color="#5bbad5" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" rel="mask-icon" />
    <meta content="#da532c" name="msapplication-TileColor" />
    <meta content="#3a3a3a" name="theme-color" />

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
</style>

<body id="MainBody">
    <!-- NavBar & Sidebar -->
    <nav class="navbar" style="border-bottom: 2px solid red;">
        <div class="container-fluid">
            <span class="navbar-brand h4">

                <!-- This will be hidden on mobile -->
                <a href="/" style="text-decoration: none; color: inherit;">
                    <div class="d-none d-md-inline greeting">
                        Good evening, <span id="yourName">Guest</span><span
                            style="margin-right: 10px;">.</span>
                    </div>
                </a>

                <!-- This will always be visible -->
                <span class="greetingTime" style="font-size:large;">
                    <span id="currentDate">1/01/2023</span>
                    <span id="currentTime">0:00AM</span>
                </span>

            </span>

            <button class="btn" id="hamburgerBtn" style="color: white;">
                <i class="bi bi-list hamburgerMenu"></i>

            </button>
        </div>
    </nav>

    <div class="sidebar">
        <button class="closeBtn">&times;</button>

        <div class="links-section">
            <a href="/" class="sidebarLink">Home</a>
            <a href="/profile" class="sidebarLink">Profile</a>
            <a href="/settings" class="sidebarLink">Settings</a>
            <a href="/calendar" class="sidebarLink">Calendar</a>
            <a href="/classes" class="sidebarLink">Classes</a>
            <a href="https://discord.gg/fh2ZbUe3hK" class="sidebarLink">Discord (Support)</a>
            <a href="/support" class="sidebarLink">Support</a>
            <a href="/logout" class="sidebarLink">Logout</a>
        </div>

        <div class="school-links-section">
            <br>
            <span class="sidebarTitle">School Links</span><br>

            <span class="sidebarSubtitle">General Resources</span><br>
            <a href="https://simon.sfx.vic.edu.au/" class="sidebarSchoolLink">• SIMON</a><br>
            <a href="https://www.sfxcareers.com.au/" class="sidebarSchoolLink">• Careers</a><br>
            <a href="https://shop.sfx.vic.edu.au/mymonitor/" class="sidebarSchoolLink">• CDF Pay</a><br>
            <a href="http://bea-v-print-01:9191/app" class="sidebarSchoolLink">• WebPrint</a><br><br>

            <span class="sidebarSubtitle">College Links</span><br>
            <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=19761&KBankID=11"
                class="sidebarSchoolLink">• 2022 Yearbook</a><br>
            <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=14283&KBankID=25&UserID=25"
                class="sidebarSchoolLink">• College Awards/Colours</a><br>
            <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=21040&KBankID=25&UserID=25"
                class="sidebarSchoolLink">• 2024 Beaconsfield Leadership</a><br>
            <a href="https://simon.sfx.vic.edu.au/WebHandlers/DownloadKnowledgeBankDocument.ashx?DocID=18795&KBankID=25&UserID=25"
                class="sidebarSchoolLink">• 2024 Berwick/Officer Leadership</a><br>
            <a href="https://saml-in3.clickview.com.au/Shibboleth.sso/STF1792" class="sidebarSchoolLink">•
                Clickview</a><br>

        </div>

        <div class="school-links-section">
            <br>
            <span class="sidebarTitle">Version</span><br>

            <span class="sidebarSubtitle">{{ VERSION }}</span><br>


        </div>
    </div>

    <script>
        const hamburgerBtn = document.getElementById('hamburgerBtn');
        const sidebar = document.querySelector('.sidebar');
        const closeBtn = document.querySelector('.closeBtn');

        hamburgerBtn.addEventListener('click', function () {
            sidebar.style.right = "0";
        });

        closeBtn.addEventListener('click', function () {
            sidebar.style.right = "-300px";
        });

        // If clicking outside the sidebar
        document.addEventListener('click', function (event) {
            if (!sidebar.contains(event.target) && !hamburgerBtn.contains(event.target)) {
                sidebar.style.right = "-300px";
            }
        });

    </script>

    <div class="mainBody container-fluid h-100">
        <div class="row h-100 pt-3">
            <!-- General Information -->

            <!-- Monday -->
            <div class="col-md-2 col-12p-3 order-2 order-md-1">
                <div class="big-box rounded p-3 mb-2">
                    <h4 class="pageSubtitle" style="font-weight: 600;">Classes</h4>

                    <!-- Events  -->
                    <div id="classList">
                        <div class="small-box rounded p-3 mb-2" id="classesLOADING">
                            <span class="class-name">Classes Loading...</span>
                        </div>


                    </div>

                </div>
            </div>

            <div class="col-md-10 col-12p-3 order-2 order-md-1">
                <div class="big-box rounded p-3 mb-2">
                    <h4 class="pageSubtitle" style="font-weight: 600;">Class Information</h4>
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name">Class: <span style="font-weight: normal" id="className">LOADING</span>
                    </div>
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name">Teacher: <span style="font-weight: normal"
                                id="classTeacher">LOADING</span>
                    </div>

                    <!-- Due -->
                    <div class="small-box rounded p-3 mb-2" id="dueTasksBox" style="position: relative;">
                        <span class="color-dot bg-primary me-2"></span>
                        <span class="class-name" id="dueTasks">0 Due</span>
                        <i class="arrow bi bi-arrow-down-circle" style="position: absolute; right: 10px;"></i>
                        <div style="display: none" id="dueTasksExpand">
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#dueTasksBox').on('click', function () {
                                var dueTasksExpand = $('#dueTasksExpand');
                                var arrow = $(this).find('.arrow');

                                if (dueTasksExpand.css('display') === 'none') {
                                    dueTasksExpand.css('display', 'block');

                                    arrow.removeClass('bi-arrow-down-circle');
                                    arrow.addClass('bi-arrow-up-circle');

                                    setTimeout(() => {
                                        dueTasksExpand.addClass('visible');
                                    }, 1); // small delay to allow for display:block to take effect
                                } else {
                                    dueTasksExpand.removeClass('visible');
                                    arrow.removeClass('bi-arrow-up-circle');
                                    arrow.addClass('bi-arrow-down-circle');
                                    setTimeout(() => {
                                        dueTasksExpand.css('display', 'none');
                                    }, 300); // delay to allow for the fade out transition to complete
                                }
                            });
                        });


                    </script>

                    <!-- Overdue -->
                    <div class="small-box rounded p-3 mb-2" id="overdueTasksBox" style="position: relative;">
                        <span class="color-dot bg-danger me-2"></span>
                        <span class="class-name" id="overdueTasks">0 Overdue</span>
                        <i class="arrow bi bi-arrow-down-circle" style="position: absolute; right: 10px;"></i>
                        <div style="display: none" id="overdueTasksExpand">
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#overdueTasksBox').on('click', function () {
                                var dueTasksExpand = $('#overdueTasksExpand');
                                var arrow = $(this).find('.arrow');

                                if (dueTasksExpand.css('display') === 'none') {
                                    dueTasksExpand.css('display', 'block');

                                    arrow.removeClass('bi-arrow-down-circle');
                                    arrow.addClass('bi-arrow-up-circle');

                                    setTimeout(() => {
                                        dueTasksExpand.addClass('visible');
                                    }, 1); // small delay to allow for display:block to take effect
                                } else {
                                    dueTasksExpand.removeClass('visible');
                                    arrow.removeClass('bi-arrow-up-circle');
                                    arrow.addClass('bi-arrow-down-circle');
                                    setTimeout(() => {
                                        dueTasksExpand.css('display', 'none');
                                    }, 300); // delay to allow for the fade out transition to complete
                                }
                            });
                        });


                    </script>

                    <!-- Results -->
                    <div class="small-box rounded p-3 mb-2" id="resultTasksBox" style="position: relative;">
                        <span class="color-dot bg-success me-2"></span>
                        <span class="class-name" id="resultTasks">Results are coming soon...</span>
                        <i class="arrow bi bi-arrow-down-circle" style="position: absolute; right: 10px;"></i>
                        <div style="display: none" id="resultTasksExpand">
                            <
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#resultTasksBox').on('click', function () {
                                var dueTasksExpand = $('#resultTasksExpand');
                                var arrow = $(this).find('.arrow');

                                if (dueTasksExpand.css('display') === 'none') {
                                    dueTasksExpand.css('display', 'block');

                                    arrow.removeClass('bi-arrow-down-circle');
                                    arrow.addClass('bi-arrow-up-circle');

                                    setTimeout(() => {
                                        dueTasksExpand.addClass('visible');
                                    }, 1); // small delay to allow for display:block to take effect
                                } else {
                                    dueTasksExpand.removeClass('visible');
                                    arrow.removeClass('bi-arrow-up-circle');
                                    arrow.addClass('bi-arrow-down-circle');
                                    setTimeout(() => {
                                        dueTasksExpand.css('display', 'none');
                                    }, 300); // delay to allow for the fade out transition to complete
                                }
                            });
                        });


                    </script>

                </div>
            </div>





        </div>

    </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>



    <!-- Variables -->
    <script>
        const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; // Days of the Week
        let currentDate = new Date(); // Current Date
        let currentISOString = currentDate.toISOString();
        let unixTimestamp = currentDate.getTime(); // Current UNIX Timestamp
        let unixTimestampInSeconds = Math.floor(unixTimestamp / 1000); // Current UNIX Timestamp in Seconds
        var totalDailyMessages = 0
    </script>


    <!-- Time/Data Updated -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function updateDateAndTime() {
                const today = new Date();

                // Update Date
                const day = String(today.getDate()).padStart(2, '0');
                const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based
                const year = today.getFullYear();
                const formattedDate = `${day}/${month}/${year}`;
                document.getElementById("currentDate").textContent = formattedDate;

                // Update Time
                let hours = today.getHours();
                const minutes = String(today.getMinutes()).padStart(2, '0');
                const ampm = hours >= 12 ? 'PM' : 'AM';

                // Convert 24-hour time to 12-hour time format
                hours = hours % 12;
                // If hour is 0 (which would be 12 in 24-hour time), set it to 12
                hours = hours ? hours : 12;
                const formattedTime = `${String(hours).padStart(2, '0')}:${minutes} ${ampm}`;
                document.getElementById("currentTime").textContent = formattedTime;
            }

            // Call the function to initialize the display
            updateDateAndTime();

            // Set an interval to update the time every minute
            setInterval(updateDateAndTime, 60 * 1000); // 60 * 1000ms = 1 minute
        });
    </script>


    <!-- Functions -->

    <!-- Get Cookie/Campus -->
    <script>
        function getCookie(cookieName) {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(cookieName + '=')) {
                    return cookie.substring(cookieName.length + 1);
                }
            }
            return null;
        }

        const authCookie = getCookie('adAuthCookie');
        const campus = getCookie('campus');

        if (authCookie == null) {
            window.location.href = '/logout';
        }

        if (campus == null) {
            window.location.href = '/logout';
        }

    </script>

    <!-- User Information -->
    <script>
        fetch(`/api/getUserInfo?cookie=${authCookie}`)
            .then(response => response.json())
            .then(data => {
                const yourNameText = document.getElementById('yourName');
                yourNameText.textContent = data.d.name

            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>

    <!-- Classes -->
    <script>
        fetch(`/api/getClasses?cookie=${authCookie}`)
            .then(response => response.json())
            .then(data => {


                // GETTING CLASSES
                const classContainer = document.getElementById('classList');
                for (const classS of data.d.Types[0].TimetabledClasses) {

                    const smallBox = document.createElement('div');
                    smallBox.classList.add('small-box', 'rounded', 'p-3', 'mb-2');

                    const spanElement = document.createElement('span');
                    spanElement.classList.add('class-name');

                    spanElement.textContent = classS['ClassCode'];

                    smallBox.appendChild(spanElement);

                    smallBox.addEventListener('click', function () {
                        window.location.href = `/classes/${classS['ClassID']}`;
                    });


                    classContainer.appendChild(smallBox)

                }

                const divElement = document.getElementById('classesLOADING');
                divElement.style.display = 'none';


                // GETTING CLASS INFORMATION
                document.title = "New Title";
                for (const classS of data.d.Types[0].TimetabledClasses) {
                    if (classS['ClassID'] == "{{classID}}") {
                        document.title = `NSimon | ${classS['ClassCode']}`;

                        let editElement = document.getElementById('className');
                        editElement.textContent = `${classS['SubjectDescription']} (${classS['ClassCode']})`;

                        editElement = document.getElementById('classTeacher');
                        editElement.textContent = classS['Teachers'];

                        // Due
                        const dueTasks = document.getElementById('dueTasks');
                        const dueContainer = document.getElementById('dueTasksExpand');
                        let dueAmount = 0
                        for (const task of data.d.DueTasksStudent) {
                            if (task['ClassCode'] == classS['ClassCode']) {
                                dueAmount += 1
                                var spanElement = document.createElement('span');
                                spanElement.className = 'ms-2';

                                var boldElement = document.createElement('b');
                                boldElement.textContent = task['TaskTitle'];
                                spanElement.appendChild(boldElement);


                                var brElement = document.createElement('br');
                                spanElement.append(brElement);

                                dueContainer.appendChild(spanElement);
                            }

                        }
                        dueTasks.textContent = dueAmount + ' Due'

                        // Overdue
                        const overdueTasks = document.getElementById('overdueTasks');
                        const overdueContainer = document.getElementById('overdueTasksExpand');
                        let overdueAmount = 0
                        for (const task of data.d.OverDueTasksStudent) {
                            if (task['ClassCode'] == classS['ClassCode']) {
                                overdueAmount += 1
                                var spanElement = document.createElement('span');
                                spanElement.className = 'ms-2';

                                var boldElement = document.createElement('b');
                                boldElement.textContent = task['TaskTitle'];
                                spanElement.appendChild(boldElement);


                                var brElement = document.createElement('br');
                                spanElement.append(brElement);

                                overdueContainer.appendChild(spanElement);
                            }
                        }

                        overdueTasks.textContent = overdueAmount + ' Overdue'

                    }
                }


            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>




    <!-- Tooltips -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script>
        let setDarkMode = localStorage.getItem('dark');
        if (setDarkMode === 'on') {
            var element = document.body;
            document.documentElement.setAttribute('data-theme', 'dark');
            console.log('Dark mode is on')
        }
    </script>
    <script>
        function toggleTheme() {
            setDarkMode = localStorage.getItem('dark');
            if (setDarkMode !== "on") {
                document.documentElement.setAttribute('data-theme', 'dark');
                // Set the value of the itwm to "on" when dark mode is on
                setDarkMode = localStorage.setItem('dark', 'on');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                // Set the value of the item to  "null" when dark mode if off
                setDarkMode = localStorage.setItem('dark', null);
            }
        }
        document.addEventListener('keydown', function(event) {
        // Check if the key combination is "Ctrl + D" (or "Command + D" on Mac)
            if (event.ctrlKey && event.altKey && event.key === 'd') {
                toggleTheme(); // Toggle dark mode when the shortcut is triggered
            }
        });
    </script>

</body>

</html>