<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>NSimon | Student Profile</title>
    <!-- Bootstrap & CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet" />
    <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- FavIcon -->
    <link href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" rel="apple-touch-icon"
        sizes="180x180" />
    <link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32"
        type="image/png" />
    <link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16"
        type="image/png" />
    <link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest" />
    <link color="#5bbad5" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" rel="mask-icon" />
    <meta content="#da532c" name="msapplication-TileColor" />
    <meta content="#3a3a3a" name="theme-color" />

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
</style>

<body id="MainBody">
    {% include "partials/navbar.html" %}


    <div class="mainBody container-fluid h-100">
        <div class="row h-100 pt-3">
            <!-- General Information -->
            <div class="col-md-12 col-12p-3 order-2 order-md-1">

                <div class="big-box rounded p-3 mb-2">
                    <h4 class="pageSubtitle" style="font-weight: 600;">General Information</h4>
                    <div class="small-box rounded p-3 mb-2" style="position: relative;">
                        <img src="https://i.imgur.com/RNtocZX.png"
                            style="border-radius: 10%; min-width: 90px; width: 90px; " alt="Cinque Terre" id="studentImage">

                        <span class="class-name ps-3" id="studentName" style="position: absolute;">LOADING</span>
                        
                        <span class="class-teacher ps-3" id="studentID" style="position: absolute; top: 35px;">Student
                            ID: LOADING</span>

                        <span class="class-teacher ps-3" id="studentYearLevel"
                            style="position: absolute; top: 55px;">Year Level:
                            LOADING</span>

                        <span class="class-teacher ps-3" id="studentHouse" style="position: absolute; top: 75px;">House:
                            LOADING</span>
                        <span class="class-teacher ps-3" id="studentCareGroup" style="position: absolute; top: 95px;">Care Group:
                            LOADING</span>
                    </div>
                </div>


            </div>

            <!-- Attendence -->
            <div class="col-md-3 col-12p-3 order-2 order-md-1">

                <div class="big-box rounded p-3 mb-2">
                    <h4 class="pageSubtitle" style="font-weight: 600;">Attendence</h4>

                    <!-- Progress Bar -->
                    <div class="small-box rounded p-3 mb-2" style="position: relative;">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" id="attendenceProgress">
                                LOADING
                            </div>
                        </div>
                    </div>

                    <!-- Parent Notified Absences -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Parent Notified Absences: </span><span class="class-name-sub"
                            id="absencesParentNotified">LOADING</span>
                    </div>

                    <!-- Late to School -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Late to School: </span><span class="class-name-sub"
                            id="absencesLateToSchool">LOADING</span>
                    </div>

                    <!-- Leave Passes -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Leave Passes: </span><span class="class-name-sub"
                            id="absencesLeavePasses">LOADING</span>
                    </div>

                    <!-- Sick Passes -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Sick Passes: </span><span class="class-name-sub"
                            id="absencesSickPasses">LOADING</span>
                    </div>

                </div>


            </div>

            <!-- Notes/Incidents -->
            <div class="col-md-3 col-12p-3 order-2 order-md-1">

                <div class="big-box rounded p-3 mb-2">
                    <h4 class="pageSubtitle" style="font-weight: 600;">Teacher Notes</h4>

                    <!-- Parent Notified Absences -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Notes: </span><span class="class-name-sub"
                            id="studentNotes">LOADING</span>
                    </div>

                    <!-- Late to School -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Important Notes: </span><span class="class-name-sub"
                            id="studentImportantNotes">LOADING</span>
                    </div>

                    <!-- Leave Passes -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Incidents: </span><span class="class-name-sub"
                            id="studentIncidents">LOADING</span>
                    </div>

                    <!-- Sick Passes -->
                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Detentions: </span><span class="class-name-sub"
                            id="studentDetentions">LOADING</span>
                    </div>

                </div>


            </div>


            <!-- Courage & Contributions -->
            <!-- <div class="col-md-3 col-12p-3 order-2 order-md-1">

                <div class="big-box rounded p-3 mb-2">
                    <h4 class="pageSubtitle" style="font-weight: 600;">Courage & Contributions</h4>


                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Total: </span><span class="class-name-sub"
                            id="courageTotal">LOADING</span>
                    </div>

                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Community and Culture: </span><span class="class-name-sub"
                            id="courageCommunity">LOADING</span>
                    </div>

                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Faith and Service: </span><span class="class-name-sub"
                            id="courageFaith">LOADING</span>
                    </div>

                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Learning: </span><span class="class-name-sub"
                            id="courageLearning">LOADING</span>
                    </div>

                    <div class="small-box rounded p-3 mb-2">
                        <span class="class-name ps-3">Positive Learning Partnerships: </span><span
                            class="class-name-sub" id="couragePositive">LOADING</span>
                    </div>

                </div>


            </div> -->


        </div>

    </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>



    <!-- Variables -->
    <script>
        const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; // Days of the Week
        let currentDate = new Date(); // Current Date
        let currentISOString = currentDate.toISOString();
        let unixTimestamp = currentDate.getTime(); // Current UNIX Timestamp
        let unixTimestampInSeconds = Math.floor(unixTimestamp / 1000); // Current UNIX Timestamp in Seconds
        var totalDailyMessages = 0
    </script>


    <!-- Time/Data Updated -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function updateDateAndTime() {
                const today = new Date();

                // Update Date
                const day = String(today.getDate()).padStart(2, '0');
                const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based
                const year = today.getFullYear();
                const formattedDate = `${day}/${month}/${year}`;
                document.getElementById("currentDate").textContent = formattedDate;

                // Update Time
                let hours = today.getHours();
                const minutes = String(today.getMinutes()).padStart(2, '0');
                const ampm = hours >= 12 ? 'PM' : 'AM';

                // Convert 24-hour time to 12-hour time format
                hours = hours % 12;
                // If hour is 0 (which would be 12 in 24-hour time), set it to 12
                hours = hours ? hours : 12;
                const formattedTime = `${String(hours).padStart(2, '0')}:${minutes} ${ampm}`;
                document.getElementById("currentTime").textContent = formattedTime;
            }

            // Call the function to initialize the display
            updateDateAndTime();

            // Set an interval to update the time every minute
            setInterval(updateDateAndTime, 60 * 1000); // 60 * 1000ms = 1 minute
        });
    </script>


    <!-- Functions -->

    <!-- Get Cookie/Campus -->
    <script>
        function getCookie(cookieName) {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(cookieName + '=')) {
                    return cookie.substring(cookieName.length + 1);
                }
            }
            return null;
        }

        const authCookie = getCookie('adAuthCookie');
        const campus = getCookie('campus');

        if (authCookie == null) {
            window.location.href = '/logout';
        }

        if (campus == null) {
            window.location.href = '/logout';
        }

        function getFirstTwoDecimalPlacesAsWholeNumber(num) {
            let result = Math.round(num * 100);
            return result;
        }


    </script>



    <!-- User Information -->


    <script>

        fetch(`/api/getDashboardData`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {

                // ABSENSES
                element = document.getElementById('absencesParentNotified');
                element.innerText = data['d']['SemesterBasedData'][0]['ParentNotifiedAbsences'].length;

                element = document.getElementById('absencesLateToSchool');
                element.innerText = data['d']['SemesterBasedData'][0]['LateToSchool'].length;

                element = document.getElementById('absencesLeavePasses');
                element.innerText = data['d']['SemesterBasedData'][0]['LeavePass'].length;

                element = document.getElementById('absencesSickPasses');
                element.innerText = data['d']['SemesterBasedData'][0]['SickPasses'].length;


                attendance = getFirstTwoDecimalPlacesAsWholeNumber(data['d']['SemesterBasedData'][0]['AttendancePercentage'])
                element = document.getElementById('attendenceProgress');
                element.style.width = `${attendance}%`;
                element.setAttribute("aria-valuenow", attendance);
                element.classList.remove("bg-success");
                element.classList.add("bg-danger");

                if (attendance > 79.9) {
                    element.classList.remove("bg-danger");
                    element.classList.add("bg-warning");
                } else if (attendance > 89.9) {
                    element.classList.remove("bg-danger");
                    element.classList.add("bg-success");
                }


                element.innerText = `${attendance}%`

            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>

    <script>

        fetch(`/api/getStudentProfileDetails`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {


                // GENERAL INFO

                let element = document.getElementById('studentName');
                element.textContent = `${data['d']['FullName']}`

                element = document.getElementById('studentID');
                element.innerText = `Student ID: ${data['d']['UID']}`

                element = document.getElementById('studentHouse');
                element.innerText = `House: ${data['d']['HouseDescription']}`

                element = document.getElementById('studentYearLevel');
                element.innerText = `Year Level: ${data['d']['YearLevelCode']}`

                element = document.getElementById('studentCareGroup');
                element.innerText = `Care Group: ${data['d']['HomeroomCode']}`

                element = document.getElementById('studentNotes');
                element.innerText = `${data['d']['NoteCount']}`

                element = document.getElementById('studentImportantNotes');
                element.innerText = `${data['d']['NoteImportantCount']}`



            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
    <!-- Student Image -->
    <script>
        fetch("/api/getStudentProfileImage", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.blob();
            })
            .then(blob => {
                const imageUrl = URL.createObjectURL(blob);
                const studentImage = document.getElementById("studentImage");
                studentImage.src = imageUrl;
            })
            .catch(error => {
                console.error("Error:", error);
                // Handle errors, e.g., display a placeholder image
                const studentImage = document.getElementById("studentImage");
                studentImage.src = "path_to_placeholder_image.jpg";
            });
    </script>

    <script>
        fetch(`/api/getStudentProfileBehaviouralHistory`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {


                // GENERAL INFO
                let element = document.getElementById('studentIncidents');
                element.textContent = `${data['d']['IncidentEntryCount']}`

                element = document.getElementById('studentDetentions');
                element.textContent = `${data['d']['DetentionEntryCount']}`

            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>




    <!-- Tooltips -->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <!-- Themes -->
    <script>
        let availableThemes = ['light', 'dark', 'blue', 'green'];
        let currentTheme = 0;
        const cachedTheme = localStorage.getItem('theme');
            if (cachedTheme && availableThemes.includes(cachedTheme)) {
            document.documentElement.setAttribute('data-theme', cachedTheme);
        }

        function loadTheme() {
            fetch('/api/getTheme', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.text())
            .then(theme => {
                switch (theme) {
                    case 'dark':
                        setTheme('dark');
                        break;
                    case 'light':
                        setTheme('light');
                        break;
                    case 'green':
                        setTheme('green');
                        break;
                    case 'blue':
                        setTheme('blue');
                        break;
                    default:
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function setTheme(theme) {
            document.documentElement.setAttribute('data-theme', theme);
            // Update the current theme index
            currentTheme = availableThemes.indexOf(theme);
            updateThemeInServer(theme);
        }

        function updateThemeInServer(theme) {
            const username = getCookie("username");

            if (!username) {
                console.log("Username not found in cookies.");
                return;
            }

            const data = { theme: theme };
            localStorage.setItem('theme', theme);
            fetch("/api/setTheme", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (response.ok) {
                    console.log(`Theme set to ${theme}`);
                } else {
                    console.error('Failed to set theme');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        document.addEventListener('keydown', function (event) {
            // Check if the key combination is "Ctrl + D" (or "Command + D" on Mac)
            if (event.ctrlKey && event.altKey && event.key === 'd') {
                toggleTheme(); // Toggle dark mode when the shortcut is triggered
            }
        });

        function toggleTheme() {
            currentTheme = (currentTheme + 1) % availableThemes.length;
            const nextTheme = availableThemes[currentTheme];
            setTheme(nextTheme);
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        loadTheme();
    </script>
    

</body>

</html>